.sidebar {
  flex: 0 0 250px;
  background-color: black;
  color: #fff;
  position: sticky;
  top: 0;
  margin-left: 2rem;
  border-radius: 25px;
  height: 90vh;
  margin-top: 2rem;
  padding: 20px;
}
.sidebarContent{
  margin-top: 3rem;
}
  .burger{display: none;}
  
  .sidebarWrapper {
    padding: 20px;
  }
  
  .sidebarTitle {
    font-size: 2.2rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-top: 2rem;

  }
  
  .sidebarMenu {
    margin-bottom: 10px;
  }
  
  .sidebarList {
    list-style: none;
    padding: 0;
  }
  
  .sidebarListItem {
    padding: 10px 26px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .sidebarListItem.active,
  .sidebarListItem:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .sidebarIcon {
    margin-right: 20px;
    font-size: 20px;
  }

  .helpers{
display: flex;
flex-direction: column;
margin-top: 14rem;
margin-left: 2rem;
font-size: 0.8rem;
  }
  .helpers >span{
    margin-bottom: 1rem;
  }
  
  @media screen and (max-width: 1027px) {
    .sidebar {
      position: fixed;
      z-index: 999;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      overflow-x: hidden;
      transition: 0.5s;
      background-color: #111;
    }
  
    .sidebar.open {
      width: 100%;
    }
  
    .sidebarWrapper {
      width: 100%;
      padding: 0;
      text-align: center;
    }
  
    .sidebarTitle {
      font-size: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .sidebarMenu {
      margin-bottom: 30px;
    }
  
    .sidebarList {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 0;
    }
  
    .sidebarListItem {
      margin: 10px 0;
      padding: 10px 0;
      border-top: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      width: 100%;
    }
  
    .sidebarIcon {
      margin-right: 0;
      margin-bottom: 5px;
    }
  
    .burger {
      position: absolute;
      top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 20px;
      height: 15px;
      cursor: pointer;
      z-index: 1;
    }
  
    .line {
      width: 100%;
      height: 2px;
      background-color: #fff;
      transition: 0.5s;
    }
  
    .open .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
  
    .open .line:nth-child(2) {
      opacity: 0;
    }
  
    .open .line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px);
    }
  }
  

/* For small screens */
@media only screen and (max-width: 1027px) {

  .sidebar {
    position: fixed;
    z-index: 999;
    width: 100%;
    overflow: hidden;
    height: 40px;
    background-color: black;
    color: #fff;
    margin-left: 0;
    border-radius: 0;
    margin-top: 0;
    padding: 0;
}
  
    .sidebarWrapper {
      display: none;
    }
  
    .sidebarTitle {
      font-size: 18px;
      position: relative;
      top: -33px;
      overflow: hidden;
  }
  
    .sidebarList {
      position: fixed;
      width: 100%;
      top: 60px;
      left: -100%;
      margin: 0;
      padding: 0;
      background-color: #111;
      transition: all 0.5s;
    }
  
    .sidebarListItem {
      display: block;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
  
    .sidebarListItem.active,
    .sidebarListItem:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  
    .sidebarIcon {
      margin-right: 10px;
      font-size: 20px;
    }
  
    .burger {
      top: 14px;
      right: 15px;
      height: 18px;
      cursor: pointer;
      z-index: 999;
  }
  
    .line {
      width: 20px;
      height: 2px;
      background-color: #fff;
      transition: all 0.3s;
    }
  
    /* Animation for the burger icon */
    .open .line:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .open .line:nth-child(2) {
      opacity: 0;
    }
  
    .open .line:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  
    /* Show the sidebar menu when burger is clicked */
    .open .sidebarList {
      left: 0;
      top: 40px;
    }
    .helpers{
      display: none
    }
  }
  